{% extends "basicapp/base.html" %}
{% block body_block %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Niralee Technologies Pvt Ltd!</h1>
    <p class="lead"> Niralee Technologies Pvt Ltd is a software Development Company Which develops Software products</p>
    <hr class="my-4">
    <p>We also provide internship that can provide unique oppotunities for learning outside of academic settings.</p>
    <a class="btn btn-primary btn-lg" href="https://www.niraleetechnologies.com/" role="button">niralee</a>
  </div>

{% endblock %}


